
/PaddleGAN
/Single_Image_Super_Resolution
/runs
/datasets
train.py
predict.py
/demo_data
*.user
*.avi
SAHI.py
Project_UI/CrawlerCraneCounterweightDetection/Stream_Inference_2.py
test.py
/output_frames
/video_data
*.txt
*.onnx
*.pt