
/PaddleGAN
/Single_Image_Super_Resolution
Project_UI/CrawlerCraneCounterweightDetection/CrawlerCraneCounterweightDetection.pyproject.user
Project_UI/CrawlerCraneCounterweightDetection/CrawlerCraneCounterweightDetection.pyproject.user
Project_UI/CrawlerCraneCounterweightDetection/CrawlerCraneCounterweightDetection.pyproject.user
/runs
/datasets
/yolov8n.pt
train.py
predict.py
/demo_data
Project_UI/CrawlerCraneCounterweightDetection/CrawlerCraneCounterweightDetection.pyproject.user
*.user
*.user
yolov8s.pt
*.avi
SAHI.py
SAHI.py
*.user
utils/best.onnx
utils/best_FP16.onnx
utils/best_FP16.pt
Project_UI/CrawlerCraneCounterweightDetection/CrawlerCraneCounterweightDetection.pyproject.user
Project_UI/CrawlerCraneCounterweightDetection/Stream_Inference_2.py
test.py
/output_frames
/video_data
Project_UI/CrawlerCraneCounterweightDetection/config/stream_path.txt
utils/models/*